* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: Castoro Titling;
  src: url(./fonts/CastoroTitling-Regular.ttf);
}
@font-face {
  font-family: Cinzel Decorative-Regular;
  src: url(./fonts/CinzelDecorative-Regular.ttf);
}

body {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

body a:hover {
  color: #aa1945;
  font-weight: bold;
}

.aboutUs span,
.headerFixed-black > a,
.headerFixed-white a,
h1,
.discount,
.send-newsLetter,
.treatments div,
.send {
  font-family: "Castoro Titling", serif;
}

h2,
footer {
  font-family: "Cinzel Decorative-Regular", serif;
}

header {
  margin: 0;
  text-align: center;
}

.headerFixed {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 2;
}

/* Header Logo */
.headerFixed img {
  width: 25rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Header Button */
.headerFixed-black > a {
  color: white;
  background-color: #aa1945;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;

  width: 11em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerFixed-black > a:hover {
  color: #aa1945;
  font-weight: bold;
  background-color: #ad9f66;
}

/* Header Navigation */
.headerFixed-white {
  background-color: white;
  padding-top: 1.7rem;
  position: sticky;
  top: 0;
}

/* Navigation Side-By-Side Flex */
.headerFixed-white ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
  flex-wrap: wrap;
}

.headerFixed-white a {
  color: black;
  text-decoration: none;
}

.headerFixed-white a:hover {
  color: #aa1945;
  font-weight: bold;
}

/* Header Image */
.headerImg {
  margin-top: 18rem;
}

h1 {
  font-size: xx-large;
  color: #ad9f66;
  text-align: center;
  margin-top: 1.5em;
}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs img {
  margin-top: 1em;
}

.aboutUs img:nth-of-type(1) {
  width: 45rem;
}

.aboutUs div {
  width: 70rem;
  margin: 2em auto;
  overflow-wrap: break-word;
}

.aboutUs p {
  padding: 0.5em;
  text-align: left;
}

.aboutUs span {
  color: #aa1945;
  font-weight: 600;
}

/* Section2 News Letter */
.newsLetter {
  background-image: url(./img/about_us_manicure1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 50rem;

  position: relative;
  z-index: 1;
}

.newsLetter div {
  position: absolute;
  top: 30%;
  left: 10%;
}

.newsLetter p {
  padding-bottom: 0.5em;
}

.discount {
  color: #aa1945;
  font-weight: 500;
  font-size: 2.8rem;
}

.send-newsLetter {
  background-color: #ad9f66;
  font-size: 2rem;
  color: white;
  width: 16rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  box-sizing: content-box;
}

.send-newsLetter:hover {
  color: white;
  background-color: #aa1945;
  font-weight: bold;
}

.newsLetter input:nth-of-type(1),
.form input {
  font-size: 2rem;
  padding: 0.2em;
}

.newsLetter input:nth-of-type(1):focus {
  outline: none;
  border: 0.1rem solid #aa1945;
}

/* Section3 Treatments */
h2 {
  font-size: xx-large;
  color: #ad9f66;
  text-align: center;

  margin: 0;
  padding: 2.5rem 0;
}

.treatments {
  background-color: black;
  color: white;
}

.treatments img {
  width: 30rem;
  height: 30rem;
  position: end;
  border-radius: 50%;
}

.treatments article:nth-of-type(1),
.treatments article:nth-of-type(2) {
  display: flex;
  padding: 1em;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.treatments div {
  text-align: center;
}

/* Section4 Gallery */
.gallery div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  vertical-align: bottom;
}

@keyframes effect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}

.gallery img:hover {
  border-radius: 50%;
  box-shadow: 5px 5px 30px black;
  animation-name: effect;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Section5 Contact */
.contact {
  background-color: black;
  color: white;
}

.contact input {
  margin-bottom: 1.6rem;
  width: 50rem;
}

.form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.form p {
  margin-bottom: 0.5rem;
}

.message {
  height: 10rem;
}

.send {
  font-size: 2rem;
  background-color: #ad9f66;
  color: white;
  height: 4.5rem;
  border: 2px solid #ad9f66;
  border-radius: 10px;
  box-sizing: content-box;
}

.send:hover {
  color: #ad9f66;
  border: 2px solid #aa1945;
  background-color: #aa1945;
  font-weight: bold;
}

/* Contact Right Side */
.contactInfo img {
  width: 12rem;
}

.contactInfo p {
  font-size: 2rem;
}

.mail,
.phone,
.address {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mail img,
.phone img,
.address img {
  width: 3.5rem;
  margin: 0.5rem 1rem 0.5rem 0;
}

.sns {
  display: flex;
  flex-direction: row;
}

.sns img {
  width: 3rem;
  margin: 1rem 0.5rem 0 0.5rem;
}

/* Footer Copyright */
footer {
  text-align: center;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .headerFixed-black > a {
    font-size: 1.5rem;
  }
  .aboutUs,
  .aboutUs img,
  .aboutUs div {
    width: 90%;
    margin: auto;
  }
  .headerFixed-black > a {
    width: 25vw;
  }
  .headerImg {
    margin-top: 22rem;
  }
  .gallery div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 1rem;
  }
  .form input {
    width: 90%;
  }
  .contactInfo {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .aboutUs,
  .aboutUs img,
  .aboutUs div {
    width: 90%;
    margin: auto;
  }
  .gallery div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aboutUs,
  .aboutUs img,
  .aboutUs div {
    width: 90%;
    margin: auto;
  }

  .gallery div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .newsLetter {
    background-image: url(./img/about_us_manicure.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media only screen and (min-width: 993px) {
  .newsLetter {
    background-image: url(./img/about_us_manicure.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}
